body{
	/*background-image: url("../../Resources/Images/background.jpg");*/
	/*background-size: cover;
	background-repeat: no-repeat;*/
}

#home-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#welcome-text{
	font-weight: bold;
	font-size: 3rem;
	color: #fff;
}

#home-page-bttns-container{
	margin: 75px 0;
}

#home-page-bttns-container a{
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	padding: 10px 20px;
	margin: 10px;
}

#secretariat-href:hover{
	background-color: #5352ed;
	webkit-transition: all 2000ms ease;
	transition: all 1200ms ease;
}

#student-href:hover{
	background-color: #ff4757;
	webkit-transition: all 2000ms ease;
	transition: all 1200ms ease;
}